{% extends '@WebFormModule/Admin/_layout.html.twig' %}

{% block title %}{{ 'WebForms'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">id</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Last message date'|trans }}</th>
            <th>{{ 'New messages'|trans }}</th>
            <th>{{ 'In progress'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for item in web_forms %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('web_form.admin_manage', {'name': item.name}) }}">{{ item.title }}</a></td>
                <td>
                  {% if item.lastMessageDate is not empty %}
                      <a href="{{ path('web_form.admin_manage', {'name': item.name}) }}">{{ item.lastMessageDate|format_datetime }}</a>
                  {% else %}
                      -
                  {% endif %}
                </td>
                <td><a href="{{ path('web_form.admin_manage', {'name': item.name}) }}">{{ module_webform_count_new(item) }}</a></td>
                <td><a href="{{ path('web_form.admin_manage', {'name': item.name}) }}">{{ module_webform_count_inprogress(item) }}</a></td>
                <td><a href="{{ path('web_form.admin_manage', {'name': item.name}) }}">{{ item.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>

    {{ form(form, {'attr': {'class': 'form-horizontal well'}} ) }}

{% endblock content %}
